SSS* {
  margin: 0;
  padding: 0;
}

/* CSS DE INDEX */
.Título {
  background-color: rgb(151, 83, 4);
  text-align: center;
  font-weight: bold;
  color: white;
  font-weight: 1000;
}

.Opciones {
  margin: 0;
  padding: 0;
  background-color: #ff9100;
  border: solid rgb(0, 0, 0);
  text-align: center;
}

.cuerpo_index {
  line-height: 1, 6;
}

.foot {
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
}
.icons {
  color: coral;
}

/* CSS DE RECETAS LIVIANAS */
.Recetas_livianas {
  background-color: #d4f380;
}

/* CSS DE AYUDA */
.Ayuda {
  background-color: #f3c180;
}

table {
  border-color: #020100;
  background-color: #ff9100;
  text-align: center;
  margin-left: 20%;
}
.img {
  margin: 5px;
  padding: 5px;
  border: solid 10px rgb(0, 0, 0);
}

.BTN {
  background-color: #020100;
  color: #ff9100;
  width: 6, 25rem;
  height: 50fpx;
}
/* CSS DE RECETAS */
.Recetas {
  background-color: #f3c180;
}
/* CSS DE TALLER VIRTUAL */
.Título2 {
  background-color: rgb(212, 37, 75);
  text-align: center;
  font-weight: bold;
  color: white;
  font-weight: 1000;
}
.Opciones2 {
  margin: 0;
  padding: 0;
  background-color: rgb(212, 37, 75);
  border: solid rgb(0, 0, 0);
  text-align: center;
}

.Taller_virtual {
  background-color: #f3c180;
}
/* CSS DE CONOCENOS */
